In [1]:
## Import Ticker class from yahooquery library 
# To access data from yahooquery, an argument (Company ticker symbol) is passed to the Ticker class 

from yahooquery import Ticker

In [2]:
## Create instance of Ticker class & pass argument (Company ticker symbol)

WES_ASX = Ticker(['WES.AX'])

In [3]:
# Select the Income Statement from the Ticker class, this will return a DataFrame

incomeStatement = WES_ASX.income_statement()

# Print top 5 results 

incomeStatement.head()

In [17]:
# Check what columns are available in the Income Statement 
# Upon exploring the data, the column names are not properly spaced, making them difficult to interpret
# The data will be cleansed to make it easier to read for the audiance 

# Create DataFrame which will contain the column names from the Income Statement DataFrame

incomeStatementColumns = pd.DataFrame(incomeStatement.columns)

# Rename Column 

# Print top 5 results

incomeStatementColumns.head()

                                          0
0                                  asOfDate
1                                periodType
2                              currencyCode
3                              Amortization
4  AmortizationOfIntangiblesIncomeStatement

In [15]:
incomeStatementColumns[0] = incomeStatementColumns[0].str.replace( r"([A-Z])", r" \1").str.strip()

incomeStatementColumns

<ipython-input-15-4b3e0dd81e82>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  incomeStatementColumns[0] = incomeStatementColumns[0].str.replace( r"([A-Z])", r" \1").str.strip()

                                                    0
0                                        as  Of  Date
1                                        period  Type
2                                      currency  Code
3                                        Amortization
4    Amortization  Of  Intangibles  Income  Statement
5                              Basic  Average  Shares
6                                      Basic  E  P  S
7                                   Cost  Of  Revenue
8   Depreciation  Amortization  Depletion  Income ...
9   Depreciation  And  Amortization  In  Income  S...
10                    Depreciation  Income  Statement
11                           Diluted  Average  Shares
12                                   Diluted  E  P  S
13                                         E  B  I  T
14                                   E  B  I  T  D  A
15                   Earnings  From  Equity  Interest
16                        Gain  On  Sale  Of  P  P  E
17              General  And  Administrative  Expense
18                                      Gross  Profit
19                    Impairment  Of  Capital  Assets
20                                  Interest  Expense
21                  Interest  Expense  Non  Operating
22                                   Interest  Income
23                   Interest  Income  Non  Operating
24                                        Net  Income
25                  Net  Income  Common  Stockholders
26                Net  Income  Continuous  Operations
27             Net  Income  Discontinuous  Operations
28  Net  Income  From  Continuing  And  Discontinu...
29  Net  Income  From  Continuing  Operation  Net ...
30  Net  Income  Including  Noncontrolling  Interests
31                              Net  Interest  Income
32     Net  Non  Operating  Interest  Income  Expense
33                       Normalized  E  B  I  T  D  A
34                                 Normalized  Income
35                                 Operating  Expense
36                                  Operating  Income
37                                 Operating  Revenue
38                                     Other  Gand  A
39                             Other  Income  Expense
40            Other  Non  Operating  Income  Expenses
41                         Other  Operating  Expenses
42                                     Pretax  Income
43                 Provision  For  Doubtful  Accounts
44                      Reconciled  Cost  Of  Revenue
45                           Reconciled  Depreciation
46                           Rent  And  Landing  Fees
47                               Salaries  And  Wages
48                   Selling  And  Marketing  Expense
49              Selling  General  And  Administration
50                           Special  Income  Charges
51                    Tax  Effect  Of  Unusual  Items
52                                     Tax  Provision
53                              Tax  Rate  For  Calcs
54                        Total  Other  Finance  Cost
55                                     Total  Revenue
56                              Total  Unusual  Items
57         Total  Unusual  Items  Excluding  Goodwill