In [65]:
## Import Ticker class from yahooquery library 
# To access data from yahooquery, an argument (Company ticker symbol) is passed to the Ticker class 

from yahooquery import Ticker
import pandas as pd

In [66]:
## Create instance of Ticker class & pass argument (Company ticker symbol)

WES_ASX = Ticker(['WES.AX'])

In [67]:
# Select the Income Statement from the Ticker class, this will return a DataFrame

incomeStatement = WES_ASX.income_statement()

# Print top 5 results 

incomeStatement.head()

,asOfDate,periodType,currencyCode,Amortization,AmortizationOfIntangiblesIncomeStatement,BasicAverageShares,BasicEPS,CostOfRevenue,DepreciationAmortizationDepletionIncomeStatement,DepreciationAndAmortizationInIncomeStatement,...,SellingAndMarketingExpense,SellingGeneralAndAdministration,SpecialIncomeCharges,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalOtherFinanceCost,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill
symbol,,,,,,,,,,,,,,,,,,,,,
WES.AX,2019-06-30,12M,AUD,113000000.0,113000000.0,1.131000e+09,4.8718,1.724000e+10,5.370000e+08,5.370000e+08,...,381000000.0,6.879000e+09,124000000.0,38068000.0,859000000.0,0.307,NaN,2.781800e+10,124000000.0,124000000.0
WES.AX,2020-06-30,12M,AUD,131000000.0,131000000.0,1.131000e+09,1.5004,1.930700e+10,1.528000e+09,1.528000e+09,...,435000000.0,6.357000e+09,-909000000.0,-288153000.0,752000000.0,0.317,237000000.0,3.075300e+10,-909000000.0,-909000000.0
WES.AX,2020-06-30,TTM,AUD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WES.AX,2021-06-30,12M,AUD,144000000.0,144000000.0,1.131000e+09,2.1040,2.087700e+10,1.509000e+09,1.509000e+09,...,540000000.0,7.011000e+09,-51000000.0,-15147000.0,993000000.0,0.297,226000000.0,3.379700e+10,-51000000.0,-51000000.0
WES.AX,2022-06-30,12M,AUD,158000000.0,158000000.0,1.132000e+09,2.0780,2.343800e+10,1.575000e+09,1.575000e+09,...,668000000.0,7.496000e+09,37000000.0,10804000.0,968000000.0,0.292,217000000.0,3.667900e+10,37000000.0,37000000.0

In [68]:
## The following metrics will be calculated from the Income Statement data:

# Revenue Growth
# Net Income Growth
# Gross & Net Margin 
# Earnings per Share Growth
# Interest Coverage Ratio 

for col in incomeStatement:
    print(col)

asOfDate
periodType
currencyCode
Amortization
AmortizationOfIntangiblesIncomeStatement
BasicAverageShares
BasicEPS
CostOfRevenue
DepreciationAmortizationDepletionIncomeStatement
DepreciationAndAmortizationInIncomeStatement
DepreciationIncomeStatement
DilutedAverageShares
DilutedEPS
EBIT
EBITDA
EarningsFromEquityInterest
GainOnSaleOfPPE
GeneralAndAdministrativeExpense
GrossProfit
ImpairmentOfCapitalAssets
InterestExpense
InterestExpenseNonOperating
InterestIncome
InterestIncomeNonOperating
NetIncome
NetIncomeCommonStockholders
NetIncomeContinuousOperations
NetIncomeDiscontinuousOperations
NetIncomeFromContinuingAndDiscontinuedOperation
NetIncomeFromContinuingOperationNetMinorityInterest
NetIncomeIncludingNoncontrollingInterests
NetInterestIncome
NetNonOperatingInterestIncomeExpense
NormalizedEBITDA
NormalizedIncome
OperatingExpense
OperatingIncome
OperatingRevenue
OtherGandA
OtherIncomeExpense
OtherNonOperatingIncomeExpenses
OtherOperatingExpenses
PretaxIncome
ProvisionForDoubtfulAccounts
ReconciledCostOfRevenue
ReconciledDepreciation
RentAndLandingFees
SalariesAndWages
SellingAndMarketingExpense
SellingGeneralAndAdministration
SpecialIncomeCharges
TaxEffectOfUnusualItems
TaxProvision
TaxRateForCalcs
TotalOtherFinanceCost
TotalRevenue
TotalUnusualItems
TotalUnusualItemsExcludingGoodwill

In [21]:
### Revenue Growth ###

## Create new DataFrame containing relevant information from Income Statement DataFrame

# Revenue

revenue = incomeStatement['TotalRevenue']

# Reporting Period

reportingPeriod = incomeStatement['asOfDate']

# Craete the new DataFrame, named revenueGrowth, by using pd.concat operation which will concentrate pandas objects along a specified axis
# Rename columns by passing keys argument and specifying column header title 

revenueGrowth = pd.concat([reportingPeriod, revenue], 
                         axis=1, keys=['Reporting Period', 'Total Revenue'])

# Print results 

revenueGrowth

       Reporting Period  Total Revenue
symbol
WES.AX       2019-06-30   2.781800e+10
WES.AX       2020-06-30   3.075300e+10
WES.AX       2020-06-30            NaN
WES.AX       2021-06-30   3.379700e+10
WES.AX       2022-06-30   3.667900e+10
WES.AX       2022-12-31   4.149300e+10

In [74]:
## With the relevant data stored in the new DataFrame, the revenue growth can now be calculated 
# This can be achieved efficiently with pct_change, which automatically computes the change between the current & prior element of an object
# Create a new column for Percentage Change, and use the Total Revenue to calculate the delta and format as %
# The first record will be NaN, as it has no prior element to form the calculation 


revenueGrowth['Percentage Change'] = revenueGrowth['Total Revenue'].pct_change().map("{:.2%}".format)

# Print results 

revenueGrowth

       Reporting Period  Total Revenue Percentage Change
symbol
WES.AX       2019-06-30   2.781800e+10              nan%
WES.AX       2020-06-30   3.075300e+10            10.55%
WES.AX       2021-06-30   3.379700e+10             9.90%
WES.AX       2022-06-30   3.667900e+10             8.53%
WES.AX       2022-12-31   4.149300e+10            13.12%

In [75]:
### Net Income Growth ###

## Create new DataFrame containing relevant information from Income Statement DataFrame

# netIncome

netIncome = incomeStatement['NetIncome']

# Reporting Period - object already created in previous step under name 'reportingPeriod'

# Create the new DataFrame, named revenueGrowth, by using pd.concat operation which will concentrate pandas objects along a specified axis
# Rename columns by passing keys argument and specifying column header title

netIncomeGrowth = pd.concat([reportingPeriod, netIncome], 
                         axis=1, keys=['Reporting Period', 'Net Income'])

# Print results 

netIncomeGrowth

       Reporting Period    Net Income
symbol
WES.AX       2019-06-30  5.510000e+09
WES.AX       2020-06-30  1.697000e+09
WES.AX       2020-06-30           NaN
WES.AX       2021-06-30  2.380000e+09
WES.AX       2022-06-30  2.352000e+09
WES.AX       2022-12-31  2.523000e+09

In [76]:
# Create a new column for Percentage Change, and use the Net Income to calculate the delta and format as %
# The first record will be NaN, as it has no prior element to form the calculation 

netIncomeGrowth['Percentage Change'] = netIncomeGrowth['Net Income'].pct_change().map("{:.2%}".format)

# Print results 

netIncomeGrowth

       Reporting Period    Net Income Percentage Change
symbol
WES.AX       2019-06-30  5.510000e+09              nan%
WES.AX       2020-06-30  1.697000e+09           -69.20%
WES.AX       2020-06-30           NaN             0.00%
WES.AX       2021-06-30  2.380000e+09            40.25%
WES.AX       2022-06-30  2.352000e+09            -1.18%
WES.AX       2022-12-31  2.523000e+09             7.27%

In [77]:
## Gross & Net Margin ###

## Create new DataFrame containing relevant information from Income Statement DataFrame


# Revenue - object already created in a previous step under name 'revenue'

# Reporting Period - object already created in a previous step under name 'reportingPeriod'

# Gross Profit 

grossProfit = incomeStatement['GrossProfit']

# Net Income - object already created in a previous step under name 'netIncome'

marginAnalysis = pd.concat([reportingPeriod, revenue, grossProfit, netIncome], 
                         axis=1, keys=['Reporting Period', 'Revenue', 'Gross Profit', 'Net Income'])


# Print results

marginAnalysis

       Reporting Period       Revenue  Gross Profit    Net Income
symbol
WES.AX       2019-06-30  2.781800e+10  1.057800e+10  5.510000e+09
WES.AX       2020-06-30  3.075300e+10  1.144600e+10  1.697000e+09
WES.AX       2020-06-30           NaN           NaN           NaN
WES.AX       2021-06-30  3.379700e+10  1.292000e+10  2.380000e+09
WES.AX       2022-06-30  3.667900e+10  1.324100e+10  2.352000e+09
WES.AX       2022-12-31  4.149300e+10  1.411000e+10  2.523000e+09

In [78]:
## Caculate Gross Profit Margin, by dividing Gross Profit by Revenue 
# Reformat the column to display as a %

marginAnalysis['grossProfitMargin'] = marginAnalysis['Gross Profit'] / marginAnalysis['Revenue']
marginAnalysis['grossProfitMargin'] = marginAnalysis['grossProfitMargin'].map("{:.2%}".format)

# Conduct same operation as above, but divide Net Income by Revenue to calculate Net Profit Margin

marginAnalysis['netProfitMargin'] = marginAnalysis['Net Income'] / marginAnalysis['Revenue']
marginAnalysis['netProfitMargin'] = marginAnalysis['netProfitMargin'].map("{:.2%}".format)

# Print results 

marginAnalysis

,Reporting Period,Revenue,Gross Profit,Net Income,grossProfitMargin,netProfitMargin
symbol,,,,,,
WES.AX,2019-06-30,2.781800e+10,1.057800e+10,5.510000e+09,38.03%,19.81%
WES.AX,2020-06-30,3.075300e+10,1.144600e+10,1.697000e+09,37.22%,5.52%
WES.AX,2020-06-30,NaN,NaN,NaN,nan%,nan%
WES.AX,2021-06-30,3.379700e+10,1.292000e+10,2.380000e+09,38.23%,7.04%
WES.AX,2022-06-30,3.667900e+10,1.324100e+10,2.352000e+09,36.10%,6.41%
WES.AX,2022-12-31,4.149300e+10,1.411000e+10,2.523000e+09,34.01%,6.08%

In [ ]:
### Earnings per Share (EPS) ###

# The analysis will include basic EPS & diluted EPS 
# The former is calculated by accounting for outsatnding equity shared of the company 
# The latter includes all convertible securities (e.g. including employee stock options, bonds, warrants)

# Basic EPS 
basic_EPS = incomeStatement['BasicEPS']

# Diluted EPS 
diluted_EPS = incomeStatement ['DilutedEPS']

# Reporting Period - object already created in previous step under name 'reportingPeriod'