In [27]:
## Import Ticker class from yahooquery library 
# To access data from yahooquery, an argument (Company ticker symbol) is passed to the Ticker class 

from yahooquery import Ticker

In [28]:
## Create instance of Ticker class & pass argument (Company ticker symbol)

WES_ASX = Ticker(['WES.AX'])

In [29]:
# Select the Income Statement from the Ticker class, this will return a DataFrame

incomeStatement = WES_ASX.income_statement()

# Print top 5 results 

incomeStatement.head()

,asOfDate,periodType,currencyCode,Amortization,AmortizationOfIntangiblesIncomeStatement,BasicAverageShares,BasicEPS,CostOfRevenue,DepreciationAmortizationDepletionIncomeStatement,DepreciationAndAmortizationInIncomeStatement,...,SellingAndMarketingExpense,SellingGeneralAndAdministration,SpecialIncomeCharges,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalOtherFinanceCost,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill
symbol,,,,,,,,,,,,,,,,,,,,,
WES.AX,2019-06-30,12M,AUD,113000000.0,113000000.0,1.131000e+09,4.8718,1.724000e+10,5.370000e+08,5.370000e+08,...,381000000.0,6.879000e+09,124000000.0,38068000.0,859000000.0,0.307,NaN,2.781800e+10,124000000.0,124000000.0
WES.AX,2020-06-30,12M,AUD,131000000.0,131000000.0,1.131000e+09,1.5004,1.930700e+10,1.528000e+09,1.528000e+09,...,435000000.0,6.357000e+09,-909000000.0,-288153000.0,752000000.0,0.317,237000000.0,3.075300e+10,-909000000.0,-909000000.0
WES.AX,2020-06-30,TTM,AUD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WES.AX,2021-06-30,12M,AUD,144000000.0,144000000.0,1.131000e+09,2.1040,2.087700e+10,1.509000e+09,1.509000e+09,...,540000000.0,7.011000e+09,-51000000.0,-15147000.0,993000000.0,0.297,226000000.0,3.379700e+10,-51000000.0,-51000000.0
WES.AX,2022-06-30,12M,AUD,158000000.0,158000000.0,1.132000e+09,2.0780,2.343800e+10,1.575000e+09,1.575000e+09,...,668000000.0,7.496000e+09,37000000.0,10804000.0,968000000.0,0.292,217000000.0,3.667900e+10,37000000.0,37000000.0

In [30]:
# Check what columns are available in the Income Statement 
# Upon exploring the data, the column names are not properly spaced, making them difficult to interpret
# The data will be cleansed to make it easier to read for the audiance 

# Create DataFrame which will contain the column names from the Income Statement DataFrame

incomeStatementColumns = pd.DataFrame(incomeStatement.columns)

# Rename Column 

incomeStatementColumns = incomeStatementColumns.rename(columns={0: 'Column Name'})

# Print top 5 results

incomeStatementColumns.head()

                                Column Name
0                                  asOfDate
1                                periodType
2                              currencyCode
3                              Amortization
4  AmortizationOfIntangiblesIncomeStatement

In [31]:
# Add a space in the index position before the first capital letter in each column name

incomeStatementColumns['Column Name'] = incomeStatementColumns['Column Name'].str.replace( r"([A-Z])", r" \1").str.strip()

# Print top 5 results 

incomeStatementColumns.head()

<ipython-input-31-781f3f9c46a3>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  incomeStatementColumns['Column Name'] = incomeStatementColumns['Column Name'].str.replace( r"([A-Z])", r" \1").str.strip()

                                    Column Name
0                                    as Of Date
1                                   period Type
2                                 currency Code
3                                  Amortization
4  Amortization Of Intangibles Income Statement

In [42]:
incomeStatement.rename(columns=incomeStatementColumns)

TypeError: 'DataFrame' object is not callable