In [26]:
## Import Ticker class from yahooquery library 
# To access data from yahooquery, an argument (Company ticker symbol) is passed to the Ticker class 

from yahooquery import Ticker
import pandas as pd

In [27]:
## Create instance of Ticker class (Company ticker symbol)

WES_ASX = Ticker(['WES.AX'])

In [28]:
# Select the Income Statement from the Ticker class, this will return a DataFrame

cashFlowStatement = WES_ASX.cash_flow().reset_index()

# Additionally, the Balance Sheet & Income Statement will be selected, as some of the columns are required for the calculations

balanceSheet = WES_ASX.balance_sheet().reset_index()
incomeStatement = WES_ASX.income_statement().reset_index()

# Print top 5 results for the cashFlowStatement object

cashFlowStatement.head()

,symbol,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowsfromusedinOperatingActivitiesDirect,...,PaymentstoSuppliersforGoodsandServices,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,ReceiptsfromCustomers,RepaymentOfDebt,SaleOfBusiness,SaleOfInvestment,SaleOfPPE,TaxesRefundPaidDirect
0,WES.AX,2019-06-30,12M,AUD,6.830000e+08,-1.356000e+09,-3.628000e+09,-2.851000e+09,245000000.0,2.718000e+09,...,-4.489200e+10,-17000000.0,NaN,-1.356000e+09,4.877000e+10,-1.164000e+09,858000000.0,2.310000e+08,529000000.0,-1.082000e+09
1,WES.AX,2019-06-30,TTM,AUD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,858000000.0,NaN,NaN,NaN
2,WES.AX,2020-06-30,12M,AUD,7.950000e+08,-8.670000e+08,-1.734000e+09,-3.070000e+09,642000000.0,4.546000e+09,...,-2.872500e+10,-988000000.0,NaN,-8.670000e+08,3.419700e+10,-3.810000e+08,NaN,2.198000e+09,299000000.0,-7.270000e+08
3,WES.AX,2020-06-30,TTM,AUD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.198000e+09,NaN,NaN
4,WES.AX,2021-06-30,12M,AUD,2.913000e+09,-8.960000e+08,-2.074000e+09,-2.631000e+09,-642000000.0,3.383000e+09,...,-3.277300e+10,-2000000.0,-13000000.0,-8.960000e+08,3.740300e+10,-5.710000e+08,5000000.0,NaN,264000000.0,-1.015000e+09

In [29]:
## Cash Flow Analysis 

# Extract each required column for cash flow analysis from the relevant objects 

# Ticker 

ticker = cashFlowStatement['symbol']

# Reporting Period

reportingPeriod = cashFlowStatement['asOfDate']

# Operating Cash Flow

operatingCashFlow = cashFlowStatement['CashFlowsfromusedinOperatingActivitiesDirect']

# Revenue 

revenue = incomeStatement['TotalRevenue']

# Net Income

In [30]:
cashFlowAnalysis = pd.concat([ticker, reportingPeriod, operatingCashFlow, revenue], 
                         axis=1, keys=['Ticker', 'Reporting Period', 'Operating Cash Flow', 
                                      'Revenue'])

In [14]:
# CapEx 

# CapEx refers to business expenditure on physical fixed assets used in continuing business operations 
# CapEx requries data from the Income Statement & Balance Sheet objects, however it is used in other Cash Flow analysis calculations

# Extract each required column for cash flow analysis from the relevant objects 

# Depreciation & Amortazation (DA)

DA = incomeStatement['DepreciationAndAmortizationInIncomeStatement']

# Property, Plant & Equipment (PPE) 

PPE = balanceSheet['NetPPE']


capExAnalysis = pd.concat([ticker, reportingPeriod, DA, PPE], 
                         axis=1, keys=['Ticker', 'Reporting Period', 'Depreciation & Amortazation',
                                     'Property, Plant & Equipment'])


capExAnalysis

,Ticker,Reporting Period,Depreciation & Amortazation,"Property, Plant & Equipment"
0,WES.AX,2019-06-30,5.370000e+08,3.878000e+09
2,WES.AX,2020-06-30,NaN,1.039600e+10
4,WES.AX,2021-06-30,1.575000e+09,NaN
5,WES.AX,2022-06-30,NaN,NaN
1,NaN,NaT,1.528000e+09,9.835000e+09
3,NaN,NaT,1.509000e+09,1.078500e+10

In [31]:
cashFlowAnalysis['Cash Flow Margin'] = cashFlowAnalysis['Operating Cash Flow'] / cashFlowAnalysis['Revenue']

In [32]:
cashFlowAnalysis

,Ticker,Reporting Period,Operating Cash Flow,Revenue,Cash Flow Margin
0,WES.AX,2019-06-30,2.718000e+09,2.781800e+10,0.097707
1,WES.AX,2019-06-30,NaN,3.075300e+10,NaN
2,WES.AX,2020-06-30,4.546000e+09,NaN,NaN
3,WES.AX,2020-06-30,NaN,3.379700e+10,NaN
4,WES.AX,2021-06-30,3.383000e+09,3.667900e+10,0.092233
5,WES.AX,2022-06-30,2.301000e+09,4.149300e+10,0.055455
6,WES.AX,2022-12-31,2.716000e+09,NaN,NaN

In [33]:
incomeStatement

,symbol,asOfDate,periodType,currencyCode,Amortization,AmortizationOfIntangiblesIncomeStatement,BasicAverageShares,BasicEPS,CostOfRevenue,DepreciationAmortizationDepletionIncomeStatement,...,SellingAndMarketingExpense,SellingGeneralAndAdministration,SpecialIncomeCharges,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalOtherFinanceCost,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill
0,WES.AX,2019-06-30,12M,AUD,113000000.0,113000000.0,1.131000e+09,4.8718,1.724000e+10,5.370000e+08,...,381000000.0,6.879000e+09,124000000.0,3.806800e+07,8.590000e+08,0.307000,NaN,2.781800e+10,124000000.0,124000000.0
1,WES.AX,2020-06-30,12M,AUD,131000000.0,131000000.0,1.131000e+09,1.5004,1.930700e+10,1.528000e+09,...,435000000.0,6.357000e+09,-909000000.0,-2.881530e+08,7.520000e+08,0.317000,237000000.0,3.075300e+10,-909000000.0,-909000000.0
2,WES.AX,2020-06-30,TTM,AUD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WES.AX,2021-06-30,12M,AUD,144000000.0,144000000.0,1.131000e+09,2.1040,2.087700e+10,1.509000e+09,...,540000000.0,7.011000e+09,-51000000.0,-1.514700e+07,9.930000e+08,0.297000,226000000.0,3.379700e+10,-51000000.0,-51000000.0
4,WES.AX,2022-06-30,12M,AUD,158000000.0,158000000.0,1.132000e+09,2.0780,2.343800e+10,1.575000e+09,...,668000000.0,7.496000e+09,37000000.0,1.080400e+07,9.680000e+08,0.292000,217000000.0,3.667900e+10,37000000.0,37000000.0
5,WES.AX,2022-12-31,TTM,AUD,181000000.0,181000000.0,NaN,NaN,2.738300e+10,1.658000e+09,...,689000000.0,7.870000e+09,25000000.0,7.297221e+06,1.040000e+09,0.291889,NaN,4.149300e+10,25000000.0,25000000.0

In [34]:
balanceSheet

,symbol,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,CapitalLeaseObligations,CapitalStock,CashAndCashEquivalents,...,StockholdersEquity,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,WorkingCapital
0,WES.AX,2019-06-30,12M,AUD,3.620000e+09,9.480000e+08,-4.587000e+09,NaN,1.572800e+10,7.950000e+08,...,9.971000e+09,5.895000e+09,1.833300e+10,1.264400e+10,3.029000e+09,9.971000e+09,8.362000e+09,1.198300e+10,3.146000e+09,1.134000e+09
1,WES.AX,2020-06-30,12M,AUD,4.008000e+09,8.900000e+08,-6.272000e+09,7.242000e+09,1.581800e+10,2.913000e+09,...,9.344000e+09,4.717000e+09,2.542500e+10,1.149700e+10,9.898000e+09,9.344000e+09,1.608100e+10,1.736100e+10,8.811000e+09,7.940000e+08
2,WES.AX,2021-06-30,12M,AUD,4.234000e+09,1.070000e+09,-7.221000e+09,7.105000e+09,1.582600e+10,3.023000e+09,...,9.715000e+09,5.812000e+09,2.621400e+10,1.178700e+10,1.012700e+10,9.715000e+09,1.649900e+10,1.711800e+10,8.584000e+09,1.181000e+09
3,WES.AX,2022-06-30,12M,AUD,5.362000e+09,1.938000e+09,-8.430000e+09,7.123000e+09,1.357400e+10,7.050000e+08,...,7.981000e+09,3.330000e+09,2.727100e+10,1.195100e+10,1.208100e+10,7.981000e+09,1.929000e+10,1.766600e+10,1.039700e+10,7.120000e+08